.discount-products {
    margin-bottom: 30px;

    &__text {
        margin-bottom: 100px;
        text-align: center;

        font-style: italic;
        font-weight: 900;
        font-size: 40px;
        line-height: 49px;
    }

    &__block {
        display: flex;
        justify-content: space-between;

        margin-bottom: 110px;
    }
}