@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato:wght@300;400&family=Montserrat&family=Roboto&display=swap');

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.all-mini-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}